.notification {
  padding: 1rem;
  width: 20rem;
  background: #0c0c0c;
  color: #fff;
  display: flex;
  position: absolute;
  border-radius: 2px;
  z-index: 1000000000000;
  right: 1rem;
  bottom: 2rem;
  padding-inline: 0.3rem;
  animation-name: pop-up;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation: pop-up 300s ease-in 1;
  display: flex;
  flex-direction: column;

  @keyframes pop-up {
    from {
      bottom: 0;
    }
    to {
      bottom: 2rem;
    }
  }
  .close-icon {
    font-size: 1.5rem;

    margin: 0;
    font-size: 2rem;
    padding: 0;
    position: absolute;
    top: -8px;
    right: 5px;
    cursor: pointer;
    font-weight: 100;
  }
  .closeBtn {
    border: none;
    background: none;
    color: #fff;
  }
  .okBtn {
    background: transparent;
    border: solid #fff 1px;
    color: #fff;
    border-radius: 3px;
    padding: 0.3rem;
    padding-inline: 1rem;
  }
  .details {
    font-size: 0.7rem;
    color: #ababab;
  }
  .mainText {
    // position: relative;
    top: -2rem;
    left: -3rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
  }
}
