.notification {
  width: 20rem;
  height: 9.4rem;
  background: #ff205c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 2px;
  z-index: 1000000000000;
  right: 1rem;
  bottom: 2rem;
  padding-inline: 0.3rem;
  animation-name: "pop-up";
  animation-duration: 100ms;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;

  @keyframes pop-up {
    from {
      bottom: 0;
    }
    to {
      bottom: 2rem;
    }
  }
  span {
    font-size: 0.7rem;
    margin: 0;
  }
  .closeBtn {
    border: none;
    background: none;
    color: #fff;
  }
  .okBtn {
    background: transparent;
    border: solid #fff 1px;
    color: #fff;
    border-radius: 3px;
    padding: 0.3rem;
    padding-inline: 1rem;
  }
  .mainText {
    position: relative;
    top: -2rem;
    left: -3rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .buttons {
    position: relative;
    top: 2rem;
    left: 6rem;
  }
}
