$dark_gray: #1d1d1d;
$light_gray: #3a3a3a;
:host {
  width: auto;
  background: $dark_gray;
  z-index: 100000;
  .opened-projects {
    width: 100%;
    position: absolute;
    height: 1.4rem;
    background: #282828;
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        font-size: 0.53rem;
        padding: 0.2rem;
        color: #989898;

        img {
          width: 1rem;
          cursor: pointer;
        }
      }
      .active_project {
        background: #3a3a3a;
        color: #fff;
      }
    }
  }
}
