:host {
  .brush {
    display: flex;
    align-items: center;
    gap: 5px;
    .brush-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;
      .brush-icon {
        width: 0.3rem;
        height: 0.3rem;
        background: #fff;
        filter: blur(2px);
      }
      span {
        font-size: 0.53rem;
      }
    }
    img {
      width: 0.5rem;
      filter: brightness(2);
    }
  }
  .brush-adjustments {
    width: 15rem;
    background: #3a3a3a;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: #000 0 0px 1px 0.2px inset;
    .top {
      display: flex;
      align-items: center;
      padding: 0.7rem;
      border-bottom: solid 1px #2b2b2b;
      .box {
        width: 5rem;
        height: 5rem;
        background: #323232;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        .circle {
          width: 3rem;
          border: solid 2px #767676;
          height: 3rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .line-1 {
            width: 78%;
            height: 1px;
            background: #737373;
            position: absolute;
          }
          .line-2 {
            height: 100%;
            width: 1px;
            background: #737373;
            position: absolute;
          }
          .small-circle-top {
            width: 0.5rem;
            position: absolute;
            height: 0.5rem;
            top: -4px;
            background: #fff;
            border-radius: 50px;
          }
          .small-circle-bottom {
            width: 0.5rem;
            position: absolute;
            bottom: -4px;
            height: 0.5rem;
            border-radius: 50px;
            background: #fff;
          }
          .small-triangle {
            width: 0.5rem;
            position: absolute;
            right: -11px;
            height: 0.5rem;
            clip-path: polygon(0px 10px, 9px 4px, -1px -2px);
            background: #fff;
          }
        }
      }
      div .volume {
        width: 8rem;
        margin-block: 0.7rem;
      }
    }
    .bottom {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 8px;
      padding: 0.3rem;
      .brush-blur-options {
        width: 78%;
        height: 2rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        box-shadow: #000 0 0 1px 0px;
        .brush-blur {
          .brush-blur-1,
          .brush-blur-2,
          .brush-blur-3,
          .brush-blur-4,
          .brush-blur-5,
          .brush-blur-6,
          .brush-blur-7 {
            width: 1rem;
            height: 1rem;
            background: #fff;
            border-radius: 50px;
          }
          .brush-blur-1 {
            filter: blur(2px);
            width: 0.4rem;
            height: 0.4rem;
          }
        }
        .brush-blur-active {
          @extend .brush-blur;
          border: solid 1px;
          padding: 0.7rem;
        }
      }

      .brush-choices {
        width: 78%;
        height: 5rem;
        overflow-y: scroll;
        background: #171717;
        .brush-type {
          display: flex;
          flex-direction: column;
          .soft-round-brush,
          .hard-round-brush {
            width: 9rem;
          }
          .soft-round-brush {
            filter: blur(3px);
          }
        }
      }
    }
    .bottom-volume {
      margin-bottom: 1rem;
      width: 90%;
    }
  }
}
