<div class="tool-propertie crop-tool">
  <app-select
    [Items]="['Original Ratio', '1:1 (Square)', '4:3', '16:9 (Widescreen)']"
  ></app-select>
  <app-input [Value]="8.5" unit="in"></app-input>
  <div class="swap-icon">
    <img src="assets/tool-properties-icons/swap-values.svg" />
  </div>
  <app-input [Value]="11" unit="in"></app-input>
  <div class="group">
    <app-input [Value]="300"></app-input>
    <app-select [Items]="['px/in']"></app-select>
    <app-button Text="Clear"></app-button>
  </div>
  <div>
    <img src="assets/tool-properties-icons/straighten-icon.svg" />
    <p>Straighten</p>
  </div>
  <div class="group">
    <img src="assets/tool-properties-icons/rec-net-icon.svg" />
    <img src="assets/tool-properties-icons/setting-icon.svg" />
  </div>
  <app-checkbox [text]="'Delete Croped Pixels'"></app-checkbox>
  <!-- <app-checkbox [text]="'Content-Aware'"></app-checkbox> -->
  <div class="group">
    <img src="assets/tool-properties-icons/restart-icon.svg" />
    <img src="assets/tool-properties-icons/cancel-icon.svg" />
    <img
      class="done-icon"
      src="assets/tool-properties-icons/done-icon.svg"
      (click)="finishCropping()"
    />
  </div>
</div>
