@import "/src/app/variables.scss";

:host {
  border: none;
  background: $btn-background-1;
  color: #fff;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border: solid 1px $border-color-1;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  .icon {
    display: flex;
    svg {
      width: 18px;
    }
  }
}
