<h4>Features</h4>
<p>Expore all the features this app provides and get to know them.</p>
<div class="features">
    <div class="feature">
        <div class="feature-image"></div>
        <h4 >Cropping Feature</h4>
        <p>Extract only the spot on the image that you're interested in.</p>
    </div>
    <div class="feature">
        <div class="feature-image"></div>
        <h4 >Free Selection</h4>
        <p>Select freely as you draw on the image and crop it the way you like.</p>
    </div>
    <div class="feature">
        <div class="feature-image"></div>
        <h4>Drawing with brush tool</h4>
        <p>Draw anything with any color you like on your image.</p>
    </div>
</div>