@import "../../../variables.scss";
.tool {
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  display: flex;
  padding: 4px;
  .desc {
    display: none;
    position: absolute;
    background-color: #fff;
    /* border: solid; */
    color: #5f5f5f;
    top: -50%;
    left: 130%;
    /* width: 7rem; */
    text-wrap: nowrap;
    padding: 0 0 0;
    padding-block: 0rem;
    padding-inline: 1rem;
    border-radius: 5px;
    font-size: 0.7rem;
    p {
    }
    .small-triangle {
      background: #fff;
      width: 0.8rem;
      height: 0.8rem;
      transform: rotate(50deg);
      position: absolute;
      left: -0.3rem;
    }
    kbd {
      background: #bcbcbc;
      padding: 0.2rem;
      border-radius: 3px;
    }
  }
  &:hover {
    border-radius: 2px;
    box-shadow: #b5b5b5 0 0 1px 0;
    background: #484848;
    .desc {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
  &:after {
    display: block;
    content: "";
    width: 0.6rem;
    height: 1rem;
    background: #a2a2a2;
    position: absolute;
    clip-path: polygon(24px 21px, -1px 23px, 35px -9px);
    right: 0;
    bottom: 0;
  }
  .tool-choices {
    font-size: 0.6rem;
    background: #3a3a3a;
    box-sizing: border-box;
    padding-block: 0.3rem;
    /* border-radius: 3px; */
    position: absolute;
    left: 1.8rem;
    width: 8rem;
    border: solid 1px #1d1d1d;
  }
  .tool-icon {
    width: 1rem;
    margin-inline: 0.4rem;
    margin-block: 0.21rem;
  }
}

.active-tool {
  @extend .tool;
  background: $backgourd-color-1;
  border-radius: 2px;
  &:hover {
    border-radius: 2px;
    box-shadow: #b5b5b5 0 0 1px 0;
  }
}
