@import "/src/app/variables.scss";

:host {
  height: auto;
  position: relative;
  display: flex;
  z-index: 10;
  .group {
    height: 100%;
    background: #323232;
    position: relative;
  }
  .task-bar {
    width: 3rem;
    background: #323232;
    height: 100%;
    margin-left: 2px;
  }

  .layers-panel {
    width: 100%;
    // padding-left: 2rem;
  }
}

.splitter {
  width: 100%;
  height: 2px;
  background-color: $backgourd-color-2;
}
.panel-header,
.action-group,
.blend-opacity,
.panel-actions {
  display: flex;
  align-items: center;
}
.label {
  font-size: 12px;
  padding: 4px 0 5px;
  color: #d1d1d1;
  width: 100%;
  display: flex;
}
.panel-header {
  h4 {
    padding: 16px;
    margin: 0;
    margin-bottom: 8px;
  }
}
.divider {
  width: calc(100% - 32px);
  margin: 0 16px;
  background: #1d1d1d;
  min-height: 1px;
}

.layers {
  margin: 8px 0;
}

.active-panel {
  background: #c7c7c7;
  svg > * {
    color: #000;
  }
}

.project-name,
.brand {
  cursor: pointer;
}

.project-name {
  margin-right: 8px;
}
.toggle-panel {
  padding: 4px;
  border-radius: 2px;
  &:hover {
    background: #3f3f3f;
  }
}

.panel-actions {
  width: 100%;
  justify-content: center;
  margin-top: 8px;
  padding: 4px;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.blend-opacity {
  padding: 0 16px;
  margin-bottom: 8px;
  .label {
    margin-right: 8px;
  }
  .blend-picker {
    margin-right: 8px;
  }
  input {
    padding: 5px 11px 8px;
    border: solid 1px $border-color-1;
    border-radius: 4px;
    background: #1d1d1d;
    width: 73px;
    padding: 5px 11px 8px;
    color: #ebebeb;
  }
}
.action-group {
  gap: 20px;
  padding: 0 16px;
  margin-bottom: 8px;
  .action-btn {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    &:hover {
      background: $action-btn-hover-background;
    }
  }
}
