<div class="tool-propertie history-brush-tool">
  <app-brush></app-brush>
  <div class="brush-folder-icon">
    <img src="assets/tool-properties-icons/brush-folder-icon.svg" />
  </div>
  <div class="mode">
    <span>Mode:</span>
    <select name="" id="">
      <option value="">Normal</option>
    </select>
  </div>
  <div class="opacity">
    <span>Opacity:</span>
    <select name="" id="">
      <option value="">100%</option>
    </select>
  </div>
  <img src="assets/tool-properties-icons/bow-hit-icon.svg" />
  <div class="flow">
    <select name="" id="">
      <option value="">100%</option>
    </select>
  </div>
  <!-- There should be one icon here -->
  <img src="assets/tool-properties-icons/bow-hit-icon.svg" />
</div>
