<h4>Properties</h4>
<app-pixel-layer-property
  *ngIf="selectedLayer && selectedLayer.type == 'pixel'"
  [selectedLayer]="selectedLayer"
></app-pixel-layer-property>
<app-type-layer-property
  [selectedLayer]="selectedLayer"
  *ngIf="selectedLayer && selectedLayer.type == 'type'"
></app-type-layer-property>
<app-shape-layer-property
  [selectedLayer]="selectedLayer"
  *ngIf="selectedLayer && selectedLayer.type == 'shape'"
></app-shape-layer-property>
<div *ngIf="selectedAdjustmentLayer" [ngSwitch]="selectedAdjustmentLayer.type">
  <app-brightness-contrast
    *ngSwitchCase="'brightnessContrast'"
    [adjustementLayer]="selectedAdjustmentLayer"
  ></app-brightness-contrast>
  <app-exposure
    *ngSwitchCase="'exposure'"
    [adjustmentLayer]="selectedAdjustmentLayer"
  ></app-exposure>
  <app-hue-saturation
    *ngSwitchCase="'hueSaturationLightnees'"
    [adjustmentLayer]="selectedAdjustmentLayer"
  ></app-hue-saturation>
  <app-color-balance
    *ngSwitchCase="'colorBalance'"
    [adjustmentLayer]="selectedAdjustmentLayer"
  ></app-color-balance>
  <app-vibrance
    *ngSwitchCase="'vibrance'"
    [adjustmentLayer]="selectedAdjustmentLayer"
  ></app-vibrance>
</div>
