<app-move-tool-properties
  *ngIf="selectedToolGroup == 'sizePosition'"
  [display]="display.parentElement!"
></app-move-tool-properties>
<app-rect-select-tool-properties
  *ngIf="selectedToolGroup == 'select'"
></app-rect-select-tool-properties>
<app-brush-tool-properties
  [display]="display"
  *ngIf="selectedToolGroup == 'paint'"
></app-brush-tool-properties>
<app-clone-stamp-tool-properties
  *ngIf="selectedToolGroup == 'adjust'"
></app-clone-stamp-tool-properties>
<app-text-tool-properties
  *ngIf="selectedToolGroup == 'text'"
></app-text-tool-properties>
<app-shape-tool-properties
  *ngIf="selectedToolGroup == 'shapes'"
></app-shape-tool-properties>
