<app-move-tool-properties
  *ngIf="selectedTool == 'moveTool'"
></app-move-tool-properties>
<app-rect-select-tool-properties
  *ngIf="selectedTool == 'rectangularSelectTool'"
></app-rect-select-tool-properties>
<app-crop-tool-properties
  *ngIf="selectedTool == 'cropTool'"
></app-crop-tool-properties>
<app-brush-tool-properties
  *ngIf="selectedTool == 'brushTool'"
></app-brush-tool-properties>
<app-clone-stamp-tool-properties
  *ngIf="selectedTool == 'cloneStampTool'"
></app-clone-stamp-tool-properties>
<app-text-tool-properties
  *ngIf="selectedTool == 'textTool'"
></app-text-tool-properties>
<app-shape-tool-properties
  *ngIf="selectedTool == 'shapeTool'"
></app-shape-tool-properties>
