$dark_gray: #1d1d1d;
$light_gray: #3a3a3a;
@import "/src/app/variables.scss";
:host {
  .app-menu {
    padding: 6px;
    display: flex;
    /* align-items: center; */
    margin-left: 8px;
    cursor: pointer;
    svg {
      width: 1rem;
    }
  }

  .divider {
    width: calc(100% - 32px);
    margin: 0 16px;
    background: #595959;
    min-height: 1px;
  }
  span {
    padding: 8px;
    width: 200px;
    cursor: pointer;
    &:hover {
      background-color: $menu-hover-bg;
    }
  }
  .open-file {
    position: absolute;
    opacity: 0;
  }
  header {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #323232;
    z-index: 10;
    border: solid 1px #707070;
    border-radius: 4px;
    box-shadow: #000000db 0 0 8px 0;
    padding: 4px 0;
  }
  li {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .options {
    width: 14rem;
    z-index: 100;
    border-radius: 4px;
    position: absolute;
    background: #323232;
    box-shadow: #000 0 0 1px 0;
    border: solid 1px #656565;
    z-index: 1000000;
    box-shadow: #000000db 0 0 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
