<div class="app-menu" (click)="visible = visible ? false : true" #appMenu>
  <svg
    viewBox="0 0 12 12"
    enable-background="new 0 0 12 12"
    version="1.1"
    xml:space="preserve"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    fill="#000000"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <g>
        <rect fill="#fafafa" height="1" width="11" x="0.5" y="5.5"></rect>
        <rect fill="#fafafa" height="1" width="11" x="0.5" y="2.5"></rect>
        <rect fill="#fafafa" height="1" width="11" x="0.5" y="8.5"></rect>
      </g>
    </g>
  </svg>
</div>
<header #menus *ngIf="visible">
  <span (click)="backToHome()">Back to home</span>
  <div class="divider"></div>
  <span (click)="onNewMenuClick()">New</span>
  <span>
    <input
      #open
      type="file"
      (change)="onOpenFileOptionChange($event)"
      multiple
      class="open-file"
    />
    Open
  </span>
  <span (click)="saveProject()">Save</span>

  <span>Save As</span>

  <span>
    <input
      #open
      type="file"
      (change)="placeEmbedded($event)"
      multiple
      class="open-file"
    />
    Import
  </span>
  <div class="divider"></div>
  <app-menu menuName="Edit">
    <div class="options">
      <span (click)="undo()">Undo</span>
      <span (click)="stepBackward()">Step Backward</span>
      <span (click)="redo()">Redo</span>
      <div class="line"></div>
      <span (click)="cut()">Cut</span>
      <span (click)="copySelectedObj()">Copy</span>
      <span (click)="pasteObj()">Paste</span>
      <!-- <span>Paste into</span> -->
      <div class="line"></div>
      <span (click)="clearProject()">Clear</span>
      <div class="line"></div>
      <span (click)="fill()">Fill</span>
      <span (click)="stroke()">Stroke</span>
      <!-- <div class="line"></div> -->
      <!-- <span (click)="transform()" class="transform-menu">
          Transform
          <img src="assets/arrow-right.svg" />
          <div class="transform-options">

              <span>Scale</span>
              <span>Rotate</span>
              <span>Skew</span>
              <span>Distort</span>
              <span>Perspective</span>
              <span>Warp</span>
              <div class="line"></div>
              <span>Rotate 180&deg;</span>
              <span>Rotate 90&deg; Clockwise</span>
              <span>Rotate 90&deg; Counter Clockwise</span>
              <div class="line"></div>
              <span>Flip Horizontal</span>
              <span>Flip Vertical</span>

          </div>
        </span> -->
      <!-- <span>Warp</span> -->
      <!-- <span>Liquify</span> -->
      <!-- <span>Puppet-Warp</span> -->
      <!-- <span>Content-Aware</span> -->
      <!-- <div class="line"></div> -->
      <!-- <span>Color Range</span> -->
      <span>Preferences</span>
    </div>
  </app-menu>
  <app-menu menuName="Image">
    <div class="options">
      <app-menu [menuName]="'Adjustments'">
        <div class="options">
          <span (click)="addAdjustmentLayer(AdjustmentLayer.SolidColor)">
            SolidColor
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Gradient)">
            Gradient
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Pattern)">
            Pattern
          </span>
          <span
            (click)="addAdjustmentLayer(AdjustmentLayer.BrightnessContrast)"
          >
            BrightnessContrast
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Levels)"
            >Levels</span
          >
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Curves)"
            >Curves</span
          >
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Exposure)">
            Exposure
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Vibrance)">
            Vibrance
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.HueSaturation)">
            HueSaturation
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.ColorBalance)">
            ColorBalance
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.BlackWhite)">
            BlackWhite
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.PhotoFilter)">
            PhotoFilter
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.ChannelMixer)">
            ChannelMixer
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.ColorLookup)">
            ColorLookup
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Invert)"
            >Invert</span
          >
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Posterize)">
            Posterize
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.Threshold)">
            Threshold
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.GradientMap)">
            GradientMap
          </span>
          <span (click)="addAdjustmentLayer(AdjustmentLayer.SelectiveColor)">
            SelectiveColor
          </span>
        </div>
      </app-menu>
      <span>Canvas Size</span>
      <div class="line"></div>
      <span (click)="crop()">Crop</span>
      <span (click)="rotateCanvas()">Rotate Canvas</span>
      <div class="line"></div>
      <span (click)="flipCanvas()">Flip Canvas</span>
      <div class="line"></div>
      <span (click)="autoTone()">Auto Tone</span>
      <span (click)="autoContrast()">Auto Contrast</span>
      <span (click)="autoColor()">Auto Color</span>
      <div class="line"></div>
      <span (click)="applyImage()">Apply Image</span>
    </div>
  </app-menu>
  <app-menu menuName="Layer">
    <div class="options">
      <span (click)="createNewLayer()">New Layer</span>
      <span (click)="newTypeLayer()">New Type Layer</span>
      <span (click)="duplicateLayer()">Duplicate Layer</span>
      <span (click)="deleteLayer()">Delete Layer</span>
      <div class="line"></div>
      <span>Layer Properties</span>
      <span>Layer Mask</span>
      <div class="line"></div>
      <span (click)="mergeLayers()">Merge Layers</span>
      <div class="line"></div>
      <span (click)="flattenImage()">Flatten Image</span>
      <div class="line"></div>
      <span (click)="arrange()">Arrange</span>
      <span (click)="align()">Align</span>
      <span (click)="distribute()">Distribute</span>
      <div class="line"></div>
      <span (click)="lockLayers()">Lock Layers</span>
      <span (click)="createClippingMask()">Create Clipping Mask</span>
      <div class="line"></div>
      <span (click)="layerViaCopy()">Layer via Copy</span>
      <span (click)="layerViaCut()">Layer via Cut</span>
    </div>
  </app-menu>

  <app-menu menuName="Select">
    <div class="options">
      <span (click)="selectAll()">All</span>
      <span (click)="deselect()">Deselect</span>
      <span (click)="reselect()">Reselect</span>
      <div class="line"></div>
      <span (click)="inverse()">Inverse</span>
      <span>All Layers</span>
      <span (click)="deselectLayers()">Deselect Layers</span>
      <!-- <div class="line"></div> -->
      <!-- <span (click)="loadSelection()">Load Selection</span> -->
      <!-- <span (click)="saveSelection()">Save Selection</span> -->
      <!-- <div class="line"></div> -->
      <!-- <span (click)="modify()">Modify</span> -->
      <!-- <span>Feather</span> -->
      <!-- <span>Border</span> -->
      <!-- <span (click)="transformSelection()">Transform Selection</span> -->
      <!-- <span>Color Range</span> -->
      <!-- <span>Focus Area</span> -->
      <!-- <span>Refine Edge</span> -->
      <!-- <span>Similar</span> -->
      <!-- <span>Grow</span> -->
      <!-- <span>Contract</span> -->
      <!-- <div class="line"></div> -->
      <!-- <span (click)="loadSelectionChannel()">Load Selection Channel</span> -->
      <!-- <span (click)="saveSlectionChannel()">Save Selection Channel</span> -->
    </div>
  </app-menu>
  <!-- <span (click)="onMenuClick(Menus.Filter)">
    Filter
    <div class="options" *ngIf="selectedMenu == Menus.Filter" #menuOptions>

        <span (click)="addFilter(Filter.Blur)">Blur</span>
        <span (click)="addFilter(Filter.Blur)">Distort</span>
        <span (click)="addFilter(Filter.Noise)">Noise</span>
        <span (click)="addFilter(Filter.Pixelate)">Pixelate</span>
        <span (click)="addFilter(Filter.Blur)">Render</span>
        <span (click)="addFilter(Filter.Blur)">Sharpen</span>
        <span (click)="addFilter(Filter.Blur)">Stylize</span>
        <div class="line"></div>
        <span>Other Filters</span>
        <span>Convert for Smart Filters</span>
        <span>Camera Raw Filter</span>
        <span>Filter Gallery</span>
        <div class="line"></div>
        <span>Adaptive Wide Angle</span>
        <span>Lighting Effects</span>
        <span>Lens Correction</span>
        <span>Vanishing Point</span>

    </div>
  </span> -->
  <app-menu menuName="View">
    <div class="options">
      <span (click)="zoomIn()">Zoom In</span>
      <span (click)="zoomOut()">Zoom Out</span>
      <div class="line"></div>
      <span (click)="fitOnScreen()">Fit on Screen</span>
      <!-- <span (click)="actualPixels()">Actual Pixels</span> -->
      <span (click)="printSize()">Print Size</span>
      <!-- <span (click)="show()">Show</span> -->
      <!-- <span>Extras</span> -->
      <!-- <span>3D</span> -->
      <div class="line"></div>
      <!-- <span>Proof Setup</span> -->
      <!-- <span>Proof Colors</span> -->
      <!-- <div class="line"></div> -->
      <!-- <span>Gamut Warning</span> -->
      <!-- <span>Pixel Aspect Ratio</span> -->
      <!-- <div class="line"></div> -->
      <!-- <span>New Guide</span> -->
      <!-- <span>Clear Guides</span> -->
      <!-- <span>Lock Guides</span> -->
      <!-- <div class="line"></div> -->
      <span>Snap</span>
      <span (click)="rotateView()">Rotate View</span>
      <span (click)="flipHorizontal()">Flip Horizontal</span>
      <span (click)="flipVertical()">Flip Vertical</span>
      <span (click)="revealAll()">Reveal All</span>
    </div>
  </app-menu>
  <app-menu menuName="Window">
    <div class="options">
      <!-- <span>Actions</span> -->
      <span (click)="adjustmentsPanel()">
        Adjustments <span *ngIf="settings.panals.adjustments">(true)</span>
      </span>
      <!-- <span (click)="brushesPanel()">Brushes</span> -->
      <!-- <span (click)="characterPanel()">Character</span> -->
      <!-- <span (click)="colorPanel()">Color</span> -->
      <!-- <span >History</span> -->
      <span (click)="layersPanel()">Layers</span>
      <!-- <span (click)="librariesPanel()">Libraries</span> -->
      <span (click)="propertiesPanel()">Properties</span>
      <span (click)="swatchesPanel()">Swatches</span>
    </div>
  </app-menu>
</header>
