<div class="tool-propertie dodge-tool">
  <app-brush></app-brush>
  <div class="brush-folder-icon">
    <img src="assets/tool-properties-icons/brush-folder-icon.svg" />
  </div>
  <div class="range">
    <span>Range:</span>
    <select name="" id="">
      <option value="">Midtones</option>
    </select>
  </div>
  <div class="exposure">
    <span>Exposure:</span>
    <select name="" id="">
      <option value="">50%</option>
    </select>
  </div>
  <div class="checkbox">
    <input type="checkbox" name="" id="" />
    <span>Protect Tones</span>
  </div>
  <img src="assets/tool-properties-icons/bow-hit-icon.svg" />
</div>
