<div class="form">
  <input
    type="email"
    placeholder="Enter your email here."
    [formControl]="emailControl"
    #email
  />
  <textarea
    #message
    [formControl]="messageControl"
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Your Message"
  ></textarea>
  <button (click)="sendEmail()">Send</button>
  <div>
    <span
      ><a href="mailto:simenehmikiyas977@gmail.com"
        >simenehmikiyas977@gmail.com</a
      ></span
    >
  </div>
  <div class="loading" *ngIf="loading">
    <div class="spiner"></div>
    <p>Sending...</p>
  </div>
</div>
