<div class="tool-propertie eraser-tool">
  <app-brush ></app-brush>
  <div class="brush-folder-icon">
    <img src="assets/tool-properties-icons/brush-folder-icon.svg" />
  </div>
  <div class="mode">
    <span>Mode:</span>
    <app-select [Items]="['Brush']"></app-select>
  </div>
  <div class="opacity">
    <span>Opacity:</span>
    <app-input [Value]="100" unit="%" [hasVolume]="true"></app-input>
  </div>
  <img src="assets/tool-properties-icons/bow-hit-icon.svg" />
  <div class="flow">
    <span>Flow:</span>
    <app-input [Value]="100" unit="%" [hasVolume]="true"></app-input>
  </div>
  <div class="smoothing">
    <span>Smoothing:</span>
    <app-input [Value]="100" unit="%" [hasVolume]="true"></app-input>
  </div>
  <img src="assets/tool-properties-icons/setting-icon.svg" />
  <app-checkbox [text]="'Erase to History'"></app-checkbox>
  <img src="assets/tool-properties-icons/bow-hit-icon.svg" />
</div>
