:host {
  width: 100%;
}
.track {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.handle {
  background: #3f3f3f;
  width: 5px;
  height: 5px;
  padding: 4px;
  border: solid 2px #d1d1d1;
  border-radius: 50px;
  position: absolute;
  box-shadow: #3f3f3f 0 0 0 3px;
}
.range {
  width: 100%;
  min-height: 2px;
  background-color: #6b6b6b;
}
