@import "/src/app/variables.scss";
:host {
  .input {
    display: flex;
    align-items: center;
    position: relative;
    .value {
      width: 100%;
      border: solid 1px $border-color-1;
      overflow: hidden;
      display: flex;
      padding: $text-field-padding;
      height: 0.8rem;
      justify-content: space-between;
      position: relative;
      outline: none;
      background: $input-background;
      border-radius: $text-field-border-raduis;
      font-size: 0.6rem;
    }

    .disabled-value {
      border: none;
      @extend .value;
      background: none;
    }
    .edit-mode-input {
      @extend .value;
    }
  }
  .editMode-input {
    input {
      width: 100%;
      border: solid 1px $border-color-1;
      overflow: hidden;
      display: flex;
      padding: $text-field-padding;
      height: 0.8rem;
      justify-content: space-between;
      position: relative;
      outline: none;
      background: $input-background;
      border-radius: $text-field-border-raduis;
      color: #fff;
      font-size: 0.6rem;
    }
  }
}
