<app-top-bar></app-top-bar>
<div class="main">
  <app-tool-box></app-tool-box>
  <div class="image-display" id="image-display" #container>
    <div #cursor class="cursor" id="cursor"></div>
    <div class="displayContainer">
      <div
        id="display"
        #display
        [style.opacity]="projects.length < 1 ? '0' : '1'"
      ></div>
      <div id="resizers"></div>
    </div>
    <div
      #contextMenuRef
      class="context-menu"
      [style.left]="contextMenu.x + 'px'"
      [style.top]="contextMenu.y + 'px'"
    >
      <p *ngFor="let c of contextMenu.menus" (click)="c.click()">
        {{ c.name }}
      </p>
    </div>
  </div>
  <div class="zoom-bar">
    <div class="level">
      <app-input
        [Value]="zoom"
        [Max]="100"
        [Min]="0"
        [Floor]="true"
        unit="%"
        (onInputChange)="setZoom($event)"
      ></app-input>
    </div>
  </div>

  <app-inspector></app-inspector>
</div>
<app-new-document
  *ngIf="newDocumentActive"
  (closeBtnClicked)="onNewDocumentCloseClick()"
  (createBtnClicked)="onNewDocumentCreateClick()"
></app-new-document>
