<app-top-bar></app-top-bar>
<div class="main">
  <div id="tools">
    <app-tool-box></app-tool-box>
    <app-tool-properties></app-tool-properties>
  </div>
  <div class="image-display" id="image-display" #container>
    <div #cursor class="cursor" id="cursor"></div>
    <div class="displayContainer" #displayContainer>
      <div
        id="display"
        #display
        [style.opacity]="projects.length < 1 ? '0' : '1'"
      ></div>
      <div id="resizers"></div>
      <app-crop-rect
        *ngIf="selectedTool == 'cropTool'"
        [display]="display"
      ></app-crop-rect>
    </div>
    <div
      #contextMenuRef
      class="context-menu"
      [style.left]="contextMenu.x + 'px'"
      [style.top]="contextMenu.y + 'px'"
    >
      <p *ngFor="let c of contextMenu.menus" (click)="c.click()">
        {{ c.name }}
      </p>
    </div>
  </div>

  <app-inspector></app-inspector>
</div>
<app-new-document
  *ngIf="newDocumentActive"
  (closeBtnClicked)="onNewDocumentCloseClick()"
  (createBtnClicked)="onNewDocumentCreateClick()"
></app-new-document>
