<div class="loading-document" *ngIf="loadingDocument">
  <span>Loading Document</span>
  <div class="loading-effect">
    <div class="line"></div>
  </div>
</div>
<app-top-bar [display]="display"></app-top-bar>
<div class="main">
  <div id="tools">
    <app-tool-box></app-tool-box>
    <app-tool-properties [display]="display"></app-tool-properties>
  </div>
  <div class="image-display" id="image-display" #container>
    <div #cursor class="cursor" id="cursor"></div>
    <div class="displayContainer" #displayContainer>
      <div id="display" #display></div>
      <div id="resizers"></div>
      <app-crop-rect
        *ngIf="selectedTool == 'cropTool'"
        [display]="display"
      ></app-crop-rect>
    </div>
    <div
      #contextMenuRef
      class="context-menu"
      [style.left]="contextMenu.x + 'px'"
      [style.top]="contextMenu.y + 'px'"
    >
      <p *ngFor="let c of contextMenu.menus" (click)="c.click()">
        {{ c.name }}
      </p>
    </div>
  </div>

  <app-inspector></app-inspector>
</div>
<app-new-document *ngIf="newDocumentActive"></app-new-document>
