$dark_gray: #1d1d1d;
$light_gray: #3a3a3a;
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $dark_gray;
  .object {
    width: 100%;
    height: 100%;
  }
  .rect {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    clip-path: url(#bob);
  }
  .main {
    display: flex;
    width: auto;
    height: 100%;
    .image-display {
      width: 100%;
      height: 100%;
      margin-top: 1.5rem;
      display: grid;
      align-items: center;
      justify-content: center;
      align-content: center;
      overflow: scroll;
      // cursor: none;
      scale: 1;
      .crop-canvas,
      .lasso-canvas {
        position: absolute;
      }
      &:hover {
        .cursor {
          display: block;
        }
      }

      .layer-corner {
        width: 1rem;
        background: beige;
        height: 1rem;
        position: absolute;
        left: 26.4rem;
        border: solid rgb(0, 192, 255) 2px;
        top: 75.3438px;
        border-radius: 1px;
        z-index: 100000000;
      }
      .displayContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .selection-rect {
          border: solid #ffff9b;
          position: absolute;
          z-index: 1000000;
        }
      }
      #display {
        width: 95%;
        height: 78%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #565656;
        position: relative;
        overflow: hidden;
        scale: 1;
        background: #fff;
        position: absolute;
        .textarea {
          resize: none;
          font-size: 2rem;
          background: transparent;
          width: auto;
          height: auto;
          display: flex;
          position: absolute;
          z-index: 100000000000;
          color: #fff;
          /* flex-direction: row; */
          align-items: center;
          outline: blue;
        }

        .layer {
          position: absolute;
          left: 0;
          top: 0;
          box-sizing: border-box;
        }
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }
      &::-webkit-scrollbar {
        background: transparent;
        width: 0.5rem;
        height: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background: #565656;
      }
    }
    .zoom-bar {
      padding-left: 3rem;
      width: 100%;
      font-size: 0.7rem;
      color: #b6b6b6;

      height: 0.8rem;
      position: absolute;
      bottom: 0;
      background: #3a3a3a;
      border: #4a4a4a solid 1px;
      display: flex;
      align-items: center;
      .level {
        width: 3rem;
      }
    }
  }
}
