@import "/src/app/variables.scss";
:host {
  position: relative;
  background: $primary-color;
  height: auto;
  display: flex;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-right: 2px;
  gap: 22px;

  .color-options {
    .colors-panel {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      .colors-panel-icons {
        display: flex;
        gap: 0.4rem;
        img {
          width: 0.5rem;
        }
      }
      .colors {
        margin-top: 0.3rem;
        position: relative;
        width: 100%;
        height: 2rem;
        .foreground {
          width: 1rem;
          height: 1rem;
          position: absolute;
          z-index: 1000;
        }
        .background {
          width: 1rem;
          height: 1rem;
          position: absolute;
          right: 0;
          top: 0.7rem;
        }
      }
    }
  }
}
