$primary-color: #323232;

$action-btn-hover-background: #3f3f3f;
$btn-background-1: #262626;
$background-color-1: #ff0b50;
$backgourd-color-2: #1d1d1d;
$small-text-color: #d1d1d1;
$input-background: #1d1d1d;
$border-color-1: #909090;
$text-field-padding: 8px;
$text-field-border-raduis: 4px;
$menu-hover-bg: rgba(255, 255, 255, 0.1);
