<div class="context-menu" #layersContextMenu *ngIf="Active">
  <p>Blending Options...</p>
  <p>Edit Adjustment...</p>
  <hr />
  <p (click)="copyCSS()">Copy CSS</p>
  <p (click)="copySvg()">Copy SVG</p>
  <p (click)="duplicateLayer()">Duplicate Layer...</p>
  <p (click)="deleteLayer()">Delete Layer</p>
  <p (click)="groupFromLayer()">Group from Layers...</p>
  <hr />
  <p>Quick Export As JPG</p>
  <p>Export As...</p>
  <hr />
  <p>Mask All Objects</p>
  <hr />
  <p>Convert to Smart Object</p>
  <hr />
  <p>Rasterize Layer</p>
  <p>Rasterize Layer Style</p>
  <hr />
  <p>Disable Layer Mask</p>
  <p>Enable Vector Mask</p>
  <p>Create Clipping Mask</p>
  <hr />
  <p>Link Layers</p>
  <p>Select Linked Layers</p>
  <hr />
  <p (click)="copyLayerStyle()">Copy Layer Style</p>
  <p (click)="pastLayerStyle()">Paste Layer Style</p>
</div>
