$dark_gray: #282828;
$light_gray: #3a3a3a;
:host {
  img {
    width: 0.8rem;
  }
  .layer-context-menu {
    width: 12rem;
    color: #000;
    background: rgb(224 224 224 / 93%);
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 14rem;
    ul {
      list-style: none;
      font-size: 0.6rem;
      padding: 0;
      padding-left: 1rem;
      li {
        border-radius: 2px;
        padding: 0.2rem;
        cursor: pointer;
        &:hover {
          background: rgb(9, 87, 232);
        }
      }
    }
  }
  .layer {
    width: 97%;
    background: #373737;
    display: flex;
    align-items: center;
    height: 2.2rem;
    cursor: pointer;
    border: solid 1px #363636;
    position: relative;
    &:hover {
      .lock-icon-hidden {
        display: block;
        position: absolute;
        right: 0.4rem;
        cursor: pointer;
      }
    }
    .link-icon {
      transform: rotate(90deg);
      position: relative;
      left: 0.4rem;
    }
    .eye-ball {
      width: 1.3rem;
      height: 100%;
      cursor: pointer;
      justify-content: center;
      display: flex;
      background: #373737;
    }
    .layer-title {
      font-size: 0.7rem;
      margin: 0;
      color: #c5c5c5;
    }

    .layer-image {
      width: 1.3rem;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      margin-left: 0.4rem;

      img {
        width: 0.8rem;
      }
      .color {
        width: 0.8rem;
        height: 0.8rem;
      }
      .ad-layer-icon {
        scale: 1;
        width: 0.8rem;
      }
    }
  }
  .active-layer {
    @extend .layer;
    background: #6d6d6d;
    cursor: default;
    .layer-title {
      margin-left: 0.4rem;
    }
    .layer-image {
      .active-layer-wrapper {
        display: flex;
        position: absolute;
        height: 100%;
        img {
          scale: 1;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .layer-mask {
    height: 100%;
    display: flex;
    width: 3rem;
    align-items: center;
    justify-content: center;

    img {
      transform: rotate(90deg);
    }
    .mask {
      position: relative;
      width: 1.9rem;
      height: 77%;
      background: #fff;
    }
    .active-layer-wrapper {
      display: flex;
      position: absolute;
      height: 100%;
      img {
        scale: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
