<app-nav-bar></app-nav-bar>

<div class="first section">
  <div class="content">
    <h2>
      Bring your
      <span class="imagination-word">
        <span> imagination </span>
      </span>
      to life with Photoforge
    </h2>
    <p>Welcome to Photoforge, where creativity meets possibility!</p>
    <button class="start-btn" routerLink="/signup">Start editing</button>
  </div>
  <div class="img-container">
    <img
      class="pf-showcase-img"
      src="assets/pf-screenshot-1.png"
      alt="photofoge showcase img"
    />
  </div>
</div>
<!-- <div class="second section"></div>
<div class="section"></div>
<div class="section"></div> -->
