<div class="home">
  <div class="content">
    <div class="heading" [@removeToTop]>
      <img src="assets/phorge-logo.svg" alt="logo" class="logo" />
      <h3>Photoforge</h3>
    </div>
    <p [@removeToTop]>Create beautiful graphics, photos and arts anywhere.</p>

    <a routerLink="/auth" [@removeToBottom]>Download</a>
  </div>

  <div class="showcase-img">
    <img src="assets/pf-showcase-img.png" alt="showcase image" />
  </div>
</div>
<div class="adjustments">
  <div class="box">
    <h1>Adjustments</h1>
    <p>
      Photoforge offers a comprehensive set of adjustment options, allowing you
      to
      <br />
      fine-tune the brightness, contrast, color balance, saturation, and more to
      <br />
      achieve the perfect look for your photos.
    </p>
  </div>
  <div class="image"></div>
</div>

<div class="tools">
  <div class="image"></div>
  <div class="box">
    <h1>Tools</h1>
    <p>
      Photoforge provides a range of versatile editing tools, allowing you to
      <br />
      crop, select, retouch, and enhance your photos with ease.
    </p>
  </div>
</div>
