<app-nav-bar></app-nav-bar>
<div class="downloads">
  <h1>Download Photoforge Editor</h1>
  <p>
    Free photo editing app. Make Selection, Crop and Add filters of your choice.
  </p>
  <div class="buttons">
    <div class="windows download">
      <img src="assets/windows.svg" alt="windows ownload" />
      <button>
        <img
          src="assets/download.svg"
          class="download-icon"
          alt="download icon"
        />
        <span> Windows </span>
      </button>
    </div>
    <div class="linux download">
      <img src="assets/linux.svg" alt="linux download" />
      <button>
        <img
          src="assets/download.svg"
          class="download-icon"
          alt="download icon"
        />
        <span> Linux </span>
      </button>
    </div>
    <div class="mac download">
      <img src="assets/mac.svg" alt="mac download" />
      <button>
        <img
          src="assets/download.svg"
          class="download-icon"
          alt="download icon"
        />
        <span> Mac </span>
      </button>
    </div>
  </div>
</div>

<footer>
  <div>
    <a href="">Contact</a>
    <a href="">Feedback</a>
  </div>
  <div>
    <a href="">Support</a>
    <a href="">Privace</a>
    <a href="">Terms of use</a>
    <a href="">Licence</a>
  </div>
</footer>
