<div class="crop-rect" #cropRect>
  <div class="crop-box" #cropBox>
    <div class="tl-corner" #tlCorner></div>
    <div class="tr-corner" #trCorner></div>
    <div class="br-corner" #brCorner></div>
    <div class="bl-corner" #blCorner></div>

    <div class="m-corner mt-corner" #mtCorner></div>
    <div class="m-corner mb-corner" #mbCorner></div>
    <div class="m-corner ml-corner" #mlCorner></div>
    <div class="m-corner mr-corner" #mrCorner></div>

    <div class="lines">
      <div class="hl">
        <div class="hl1"></div>
        <div class="hl2"></div>
      </div>
      <div class="vl">
        <div class="vl1"></div>
        <div class="vl2"></div>
      </div>
    </div>
  </div>
</div>
