<app-tool-bar-header [headerName]="'Size & position'"></app-tool-bar-header>
<div class="action-group">
  <div class="toolbar-toolitem">
    <div
      class="action-btn"
      [class.active-action-btn]="activeTool == 'move'"
      (click)="setActive('move')"
    >
      <svg
        role="img"
        fill="currentColor"
        viewBox="0 0 18 18"
        id="SSelect18N-icon"
        width="18"
        height="18"
        aria-hidden="true"
        aria-label=""
        focusable="false"
      >
        <path
          fill-rule="evenodd"
          d="M4.252,1.027A.25.25,0,0,0,4,1.277V17.668a.25.25,0,0,0,.252.25.246.246,0,0,0,.175-.074L9.262,13h6.5a.25.25,0,0,0,.176-.427L4.427,1.1A.246.246,0,0,0,4.252,1.027Z"
        ></path>
      </svg>
      Move
    </div>
    <div class="move-tool-settings tool-settings" *ngIf="activeTool == 'move'">
      <span class="label">Auto Select</span>
      <app-select [Items]="['Layer', 'None']"></app-select>
      <span class="label">Align</span>
      <div class="align-actions">
        <div class="align-action-btn" (click)="alignLeft()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignLeft18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <rect
              fill-rule="evenodd"
              x="1"
              width="1"
              height="18"
              rx="0.25"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="3"
              y="10"
              width="13"
              height="5"
              rx="0.5"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="3"
              y="3"
              width="8"
              height="5"
              rx="0.5"
            ></rect>
          </svg>
        </div>
        <div class="align-action-btn" (click)="centerSelectedObjHorizontal()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignCenter18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <path
              fill-rule="evenodd"
              d="M14.5,10H9V8h3.5a.5.5,0,0,0,.5-.5v-4a.5.5,0,0,0-.5-.5H9V.25A.25.25,0,0,0,8.75,0h-.5A.25.25,0,0,0,8,.25V3H4.5a.5.5,0,0,0-.5.5v4a.5.5,0,0,0,.5.5H8v2H2.5a.5.5,0,0,0-.5.5v4a.5.5,0,0,0,.5.5H8v2.75a.25.25,0,0,0,.25.25h.5A.25.25,0,0,0,9,17.75V15h5.5a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,14.5,10Z"
            ></path>
          </svg>
        </div>
        <div class="align-action-btn" (click)="alignRight()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignRight18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <rect
              fill-rule="evenodd"
              x="16"
              width="1"
              height="18"
              rx="0.25"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="2"
              y="10"
              width="13"
              height="5"
              rx="0.5"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="7"
              y="3"
              width="8"
              height="5"
              rx="0.5"
            ></rect>
          </svg>
        </div>
        <div class="align-action-btn" (click)="alignTop()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignTop18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <rect
              fill-rule="evenodd"
              y="1"
              width="18"
              height="1"
              rx="0.25"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="3"
              y="3"
              width="5"
              height="13"
              rx="0.5"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="10"
              y="3"
              width="5"
              height="8"
              rx="0.5"
            ></rect>
          </svg>
        </div>
        <div class="align-action-btn" (click)="centerSelectedObjVertical()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignMiddle18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <path
              fill-rule="evenodd"
              d="M17.75,8H15V4.5a.5.5,0,0,0-.5-.5h-4a.5.5,0,0,0-.5.5V8H8V2.5A.5.5,0,0,0,7.5,2h-4a.5.5,0,0,0-.5.5V8H.25A.25.25,0,0,0,0,8.25v.5A.25.25,0,0,0,.25,9H3v5.5a.5.5,0,0,0,.5.5h4a.5.5,0,0,0,.5-.5V9h2v3.5a.5.5,0,0,0,.5.5h4a.5.5,0,0,0,.5-.5V9h2.75A.25.25,0,0,0,18,8.75v-.5A.25.25,0,0,0,17.75,8Z"
            ></path>
          </svg>
        </div>
        <div class="align-action-btn" (click)="alignBottom()">
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SAlignBottom18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <rect
              fill-rule="evenodd"
              x="3"
              y="2"
              width="5"
              height="13"
              rx="0.5"
            ></rect>
            <rect
              fill-rule="evenodd"
              x="10"
              y="7"
              width="5"
              height="8"
              rx="0.5"
            ></rect>
            <rect
              fill-rule="evenodd"
              y="16"
              width="18"
              height="1"
              rx="0.25"
            ></rect>
          </svg>
        </div>
      </div>

      <app-checkbox [text]="'Show Transform Controls'"></app-checkbox>
    </div>
  </div>
  <div class="toolbar-toolitem">
    <div
      class="action-btn"
      [class.active-action-btn]="activeTool == 'transform'"
      (click)="setActive('transform')"
    >
      <svg
        role="img"
        fill="currentColor"
        viewBox="0 0 18 18"
        id="SDistort18N-icon"
        width="18"
        height="18"
        aria-hidden="true"
        aria-label=""
        focusable="false"
      >
        <path
          fill-rule="evenodd"
          d="M15.075,11.733l-.76-4.051a1.77,1.77,0,0,0-2.6-2.4L6.754,3.712A1.856,1.856,0,0,0,6.775,3.5,1.775,1.775,0,1,0,4.11,5.027l-1.693,8.8A1.771,1.771,0,1,0,4.766,15.59l8.661-1.283a1.771,1.771,0,1,0,1.648-2.574ZM11.257,6.182A1.762,1.762,0,0,0,13.4,8.226l.7,3.75a1.761,1.761,0,0,0-.86,1.347L4.53,14.614a1.766,1.766,0,0,0-1.086-.826L5.082,5.267a1.76,1.76,0,0,0,1.273-.633Z"
        ></path>
      </svg>
      Transform
    </div>
    <div
      class="transform-tool-settings tool-settings"
      *ngIf="activeTool == 'transform'"
    >
      <div class="field">
        <span class="label">Width</span>
        <input
          type="number"
          [value]="selectedLayer?.width"
          (input)="setWidth($event)"
        />
      </div>
      <div class="field">
        <span class="label">Height</span>
        <input
          type="number"
          [value]="selectedLayer?.height"
          (input)="setHeight($event)"
        />
      </div>
      <div class="field">
        <span class="label">X</span>
        <input
          type="number"
          [value]="selectedLayer?.x"
          (input)="setX($event)"
        />
      </div>
      <div class="field">
        <span class="label">Y</span>
        <input
          type="number"
          [value]="selectedLayer?.y"
          (input)="setY($event)"
        />
      </div>
      <div class="field">
        <span class="label">Rotation</span>
        <input type="number" />
      </div>
    </div>
  </div>
  <div class="toolbar-toolitem">
    <div
      class="action-btn"
      [class.active-action-btn]="activeTool == 'crop'"
      (click)="setActive('crop')"
    >
      <svg
        role="img"
        fill="currentColor"
        viewBox="0 0 18 18"
        id="SCrop18N-icon"
        width="18"
        height="18"
        aria-hidden="true"
        aria-label=""
        focusable="false"
      >
        <path
          fill-rule="evenodd"
          d="M12,11h2V4.5a.5.5,0,0,0-.5-.5H7V6h5Z"
        ></path>
        <path
          fill-rule="evenodd"
          d="M6,12V1.5A.5.5,0,0,0,5.5,1h-1a.5.5,0,0,0-.5.5V4H1.5a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5H4v7.5a.5.5,0,0,0,.5.5H12v2.5a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V14h2.5a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,0-.5-.5Z"
        ></path>
      </svg>
      Crop
    </div>
    <div class="tool-settings" *ngIf="activeTool == 'crop'">
      <div class="table-grid">
        <span>Units</span>
        <app-select [Items]="[]"></app-select>
        <span>Width</span>
        <app-input></app-input>
        <span>Height</span>
        <app-input></app-input>
      </div>
      <app-slider label="Rotate"></app-slider>
      <div class="straighten-rotate">
        <div>
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 18 18"
            id="SStraighten18N-icon"
            width="18"
            height="18"
            aria-hidden="true"
            aria-label=""
            focusable="false"
          >
            <circle fill-rule="evenodd" cx="3.5" cy="5.5" r="0.65"></circle>
            <circle fill-rule="evenodd" cx="13.5" cy="5.5" r="0.65"></circle>
            <circle fill-rule="evenodd" cx="8.5" cy="2.5" r="0.65"></circle>
            <circle fill-rule="evenodd" cx="5.5" cy="3.5" r="0.65"></circle>
            <circle fill-rule="evenodd" cx="11.5" cy="3.5" r="0.65"></circle>
            <path
              fill-rule="evenodd"
              d="M3,7H.25A.25.25,0,0,0,0,7.25v5.5A.25.25,0,0,0,.25,13H3Z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M16.75,7H14v6h2.75a.25.25,0,0,0,.25-.25V7.25A.25.25,0,0,0,16.75,7Z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M8.5,9c.90332,0,2.49146-.5,2.49146-1.49158L10.98254,7H6v.52051C6,8.5,7.59021,9,8.5,9Z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M12.05,7v.5c0,1.5-1.617,2.55-3.55,2.55S4.95,9,4.95,7.5V7H4v6h9V7Z"
            ></path>
          </svg>
          Straighten
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            id="icons"
            role="img"
            viewBox="0 0 17.42 13"
            aria-hidden="false"
            aria-label=""
            height="20"
            width="20"
          >
            <path
              d="M17.42.5v8a.5.5,0,0,1-.5.5h-11a.5.5,0,0,1-.5-.5V.5a.5.5,0,0,1,.5-.5h11A.5.5,0,0,1,17.42.5Zm-10.25,11H5a2,2,0,0,1-2-2V7H4.25a.19.19,0,0,0,.13-.32L2.22,4.49.06,6.65A.19.19,0,0,0,.19,7H1.42V9.2A3.8,3.8,0,0,0,5.22,13h2a.25.25,0,0,0,.25-.25V11.7A.25.25,0,0,0,7.17,11.45Z"
            ></path>
          </svg>
          Rotate
        </div>
      </div>

      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 36 36"
          role="img"
          fill="currentColor"
          height="24"
          width="24"
          aria-hidden="false"
          aria-label="Revert"
        >
          <rect height="4" rx="1" ry="1" width="32" x="2" y="26"></rect>
          <path
            d="M2.5 20h10.75a.8.8 0 0 0 .75-.8.784.784 0 0 0-.235-.56L9.81 14.681l.692-.693a11.447 11.447 0 0 1 19.116 5.074A1.215 1.215 0 0 0 30.78 20h1.894a1 1 0 0 0 .991-1.17A15.43 15.43 0 0 0 14.621 7.165 16.181 16.181 0 0 0 7.337 11.5l-.356.357-3.617-3.621A.781.781 0 0 0 2.8 8a.8.8 0 0 0-.8.754V19.5a.5.5 0 0 0 .5.5Z"
          ></path>
        </svg>
        Reset
      </button>
    </div>
  </div>
</div>
