:host {
  background: #2f2f2f;
  position: absolute;
  top: 3.35rem;
  right: 0;
  padding: 1rem;
  height: 100%;
  .project-title {
    border: none;
    background: transparent;
    border-bottom: solid 1px #565656;
    width: 15rem;
  }
  p {
    margin: 0;
    color: #929090;
    font-size: 0.7rem;
  }
  label {
    color: #929090;
    font-size: 0.7rem;
    padding-right: 1rem;
    margin-bottom: 0.3rem;
  }
  input,
  select {
    background: #1d1d1d;
    border: solid 1px #565656;
    outline: none;
    border-radius: 2px;
    color: rgb(224, 224, 224);
    padding: 0.2rem;
  }
  .height,
  .width,
  .resolution {
    width: 4rem;
  }
  .color-mode {
    width: 9.5rem;
  }
  .bit {
    width: 5rem;
    margin-left: 1rem;
  }
  .bg-content {
    width: 13.4rem;
  }
  .color {
    border: none;
    background: transparent;
    height: 2.1rem;
    width: 2.3rem;
    padding: 0;
    top: 0.5rem;
    position: relative;
  }
  .color-profile,
  .pixel-aspect-ratio {
    width: 15.6rem;
  }
  .close-btn,
  .create-btn {
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50px;
    padding: 0.4rem;
    padding-inline: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    position: absolute;
    right: 1.4rem;
    margin-top: 1rem;
  }
  .advanced-options {
    cursor: pointer;
    img {
      width: 0.6rem;
    }
    .arrow-right {
      transform: rotate(-90deg);
    }
  }
  .create-btn {
    background: linear-gradient(#ff06a8, #ff0000);
    border: none;
  }
  .close-btn {
    right: 6.6rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }
  .row-1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #metrics {
    width: 10rem;
    margin-left: 1rem;
  }
  .orientation {
    .portrait {
      width: 1.4rem;
    }
    .landscape {
      width: 2rem;
      padding-left: 0.3rem;
    }
  }
}
