<div class="tos">
  <h1 style="margin-top: 4rem">Terms and Conditions</h1>
  <p>
    These Terms and Conditions govern your use of the Photoforge application
    operated by Micheal Simon. By accessing or using the App, you agree to be
    bound by these Terms. If you disagree with any part of the terms, then you
    may not access the App.
  </p>
  <h1>Accounts</h1>
  <p>
    When you create an account with us, you must provide accurate and complete
    information. Failure to do so constitutes a breach of the Terms, which may
    result in immediate termination of your account on our App. You are
    responsible for safeguarding the password that you use to access the App and
    for any activities or actions under your password, whether your password is
    with our App or a third-party service.
  </p>
  <h1>Intellectual Property</h1>

  <p>
    The App and its original content, features, and functionality are and will
    remain the exclusive property of Photoforge and its licensors. The App is
    protected by copyright, trademark, and other laws of both the USA and
    foreign countries. Our trademarks and trade dress may not be used in
    connection with any product or service without the prior written consent of
    Photoforge.
  </p>
  <h1>Usage</h1>
  <p>
    Our App offers tools and functionalities similar to Adobe Photoshop, and we
    strive to provide a comparable level of functionality and professional-grade
    features. You agree not to use the App for any unlawful purpose or to
    solicit others to perform any unlawful acts. You are solely responsible for
    your use of the App and any consequences arising from such use.
  </p>
  <h1>Privacy</h1>
  <p>
    Your privacy is important to us. Our Privacy Policy governs your use of the
    App and explains how we collect, use, and protect your personal information.
    By using the App, you agree to our Privacy Policy.
  </p>
  <h1>Limitation of Liability</h1>
  <p>
    In no event shall Photoforge, nor its directors, employees, partners,
    agents, suppliers, or affiliates, be liable for any indirect, incidental,
    special, consequential, or punitive damages, including without limitation,
    loss of profits, data, use, goodwill, or other intangible losses, resulting
    from
  </p>
  <ul>
    <li>(i) your access to or use of or inability to access or use the App;</li>
    <li>(ii) any conduct or content of any third party on the App;</li>
    <li>(iii) any content obtained from the App; and</li>
    <li>
      (iv) unauthorized access, use, or alteration of your transmissions or
      content, whether based on warranty, contract, tort (including negligence),
      or any other legal theory, whether or not we have been informed of the
      possibility of such damage, and even if a remedy set forth herein is found
      to have failed of its essential purpose.
    </li>
  </ul>

  <h1>Governing Law</h1>
  <p>
    These Terms shall be governed and construed in accordance with the laws of
    USA, without regard to its conflict of law provisions.
  </p>
  <h1>Changes</h1>
  <p>
    We reserve the right, at our sole discretion, to modify or replace these
    Terms at any time. If a revision is material, we will provide at least 30
    days' notice prior to any new terms taking effect. What constitutes a
    material change will be determined at our sole discretion. By continuing to
    access or use our App after any revisions become effective, you agree to be
    bound by the revised terms. If you do not agree to the new terms, you are no
    longer authorized to use the App.
  </p>
  <h1>Contact Us</h1>

  <p>
    If you have any questions about these Terms, please contact us at
    <a
      href="mailto:
    simenehmikiyas977@gmail.com
    "
      >simenehmikiyas977@gmail.com</a
    >
    By using the App, you signify your acceptance of these Terms. If you do not
    agree to these Terms, please do not use the App. Last updated: 2/6/2024
  </p>
</div>
