<div class="top-bar">
  <h4>
    Build your skills
    <img width="1rem" src="assets/Info-icon.svg" alt="info icon" />
  </h4>
  <p>Show suggestions</p>
</div>
<div class="recent-files-container">
  <div class="recent">
    <h4>Recent</h4>
    <div
      [ngClass]="
        activeView == 'list' ? 'list-view-icon-active' : 'list-view-icon'
      "
      (click)="setActiveView('list')"
    >
      <img src="assets/List-view-icon.svg" alt="List View Icon" />
    </div>
    <div
      [ngClass]="
        activeView == 'window' ? 'window-view-icon-active' : 'window-view-icon'
      "
      (click)="setActiveView('window')"
    >
      <img src="assets/Window-view-icon.svg" alt="Window View Icon" />
    </div>
  </div>
  <div class="display-options">
    <div class="sort-container">
      <p>Sort</p>
      <select name="" id="">
        <option value="">Last Modified</option>
        <option value="">Size</option>
        <option value="">Type</option>
        <option value="">Date Created</option>
        <option value="">Ascending/Descending Order</option>
      </select>
    </div>
    <div class="filter-container">
      <p>Filter</p>
      <input type="text" placeholder="Filter Recent Files" />
    </div>
  </div>
  <div
    [ngClass]="
      activeView == 'window' ? 'recent-files' : 'recent-files-list-view'
    "
  >
    <div
      class="file"
      [class.selectedProject]="selectedProjects.includes(project)"
      *ngFor="let project of projects"
      (click)="onProjectClick(project, $event)"
    >
      <div class="more-icon">
        <img src="assets/tools-icons/more-icon.svg" alt="more icon" />
      </div>
      <div class="file-image" (dblclick)="openProject(project)">
        <img [src]="getImageUrl(project)" alt="" />
      </div>
      <h4>{{ project.name }}</h4>
      <p>{{ project.modifyedAt | date }}</p>
    </div>
    <div class="loading" *ngIf="loading">
      <div class="file">
        <div class="file-image"></div>
        <h4></h4>
        <p></p>
      </div>
      <div class="file">
        <div class="file-image"></div>
        <h4></h4>
        <p></p>
      </div>
      <div class="file">
        <div class="file-image"></div>
        <h4></h4>
        <p></p>
      </div>
      <div class="file">
        <div class="file-image"></div>
        <h4></h4>
        <p></p>
      </div>
      <div class="file">
        <div class="file-image"></div>
        <h4></h4>
        <p></p>
      </div>
    </div>
    <!--  <div class="not-logged-in" *ngIf="!loading && projects.length < 1">
      Login or Signup to see your recent projects.
      <button (click)="loadRecentProjects()">Continue</button>
    </div> -->
  </div>
</div>

<div class="delete-warning" *ngIf="deleteProjectWarn" @newDocAnim>
  <h2>
    Are you sure you want to delete
    <span *ngIf="selectedProjects.length > 1">these projects?</span>
    <span *ngIf="selectedProjects.length == 1">this project?</span>
  </h2>
  <span>This actions can't be undone.</span>
  <div class="buttons">
    <button class="cancel-btn" (click)="cancelProjectsDeletion()">
      Cancel
    </button>
    <button class="delete-btn" (click)="deleteProjects()">Delete</button>
  </div>
</div>
