<div class="tool-propertie quick-selection-tool">
  <img src="assets/tools-icons/quick-selection-tool.svg" />
  <img src="assets/tool-properties-icons/quick-selection-add.svg" />
  <img src="assets/tool-properties-icons/quick-selection-minus.svg" />
  <app-brush></app-brush>
  <app-checkbox [text]="'Sample All Layers'"></app-checkbox>
  <app-checkbox [text]="'Auto Enhance'"></app-checkbox>
  <app-button Text="Select Subject"></app-button>
  <app-button Text="Select and Mask..."></app-button>
</div>
