:host {
}

h4 {
  padding: 0 12px;
}
.props {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  gap: 12px;
  margin-top: 1rem;
}
.row,
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  gap: 1rem;
  justify-content: center;
  .icon {
    cursor: pointer;
    padding: 4px;
    border-radius: 2px;
    &:hover {
      background: #505050;
    }
  }
}
.row {
  div {
    display: flex;
    align-items: center;

    gap: 20px;
    font-size: 0.7rem;
  }
}
.input {
  width: 5rem;
}

.lock-scale-top-icon {
  width: 10px;
  height: 2px;
  background: #505050;
  position: relative;
  grid-area: lockicon2;
  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background: #505050;
  }
}
.lock-scale-bottom-icon {
  width: 10px;
  height: 2px;
  background: #505050;
  position: relative;
  grid-area: lockicon1;

  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #505050;
  }
}
.action-group {
  display: flex;
  justify-content: space-between;
  padding: 15px 41px;
}
.x-input {
  grid-area: xinput;
}
.y-input {
  grid-area: yinput;
}
.w-input {
  gird-area: hscaleinput;
}
.h-input {
  grid-area: vscaleinput;
}

.h-scale-label {
  grid-area: hscalelabel;
}

.h-move-label {
  grid-area: hmovelable;
}

.v-scale-label {
  grid-area: vscalelabel;
}

.v-move-label {
  grid-area: vmovelabel;
}

.lock-icon {
  grid-area: lock;
}
