@import "/src/app/variables.scss";

:host {
}

.layer {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  &:hover {
    background: #373737;
  }
}
.layer.selected {
  background: rgb(161 161 161 / 24%);
  .thumbnail {
    border: solid 2px $backgourd-color-1;
  }
  .type-layer-thumbnail {
    svg > * {
      color: $backgourd-color-1;
    }
    .badge {
      border: $backgourd-color-1 2px solid;
      svg > * {
        color: $backgourd-color-1;
      }
    }
  }
}
.toggle-visibility {
  margin-right: 16px;
}
.thumbnail {
  width: 56px;
  height: 50px;
  background: #fff;
  border: solid 2px #696969;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-layer-thumbnail {
  width: 100%;
  height: 100%;
  background-color: #3f3f3f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .badge {
    border-radius: 100%;
    position: absolute;
    left: -10px;
    top: 14px;
    border: solid 1px #696969;
    width: 15px;
    background: #fff;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg > * {
      color: #696969;
    }
  }
  .icon {
  }
}
.layer-name {
  text-overflow: ellipsis;
  overflow: hidden;
  /* display: flex; */
  white-space: nowrap;
  font-size: 14px;
}
